build/
*.swp
.cproject
.project
.settings/

sources/rlm3-hardware/cube/Drivers/CMSIS/DSP/
sources/rlm3-hardware/cube/Drivers/CMSIS/Device/ST/STM32F4xx/Include/
sources/rlm3-hardware/cube/Drivers/CMSIS/Device/ST/STM32F4xx/Include/
sources/rlm3-hardware/cube/Drivers/CMSIS/Device/ST/STM32F4xx/Source/Templates/
sources/rlm3-hardware/cube/Drivers/CMSIS/Lib/
sources/rlm3-hardware/cube/Drivers/CMSIS/NN/


